@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="container">
        <div class="head">
            <h1>@MyStringValue</h1>
        </div>
    <div class="body">
        <h1>@MyStringValue</h1>
    </div>
    <div class="bottom">
        <h1>@MyStringValue</h1>
    </div>
  </div>
</root>

@code
{
	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
}
