ComputerWorldUI {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	justify-content: center;
	align-items: center;
	background: radial-gradient(#6A6AFF, #000);
	font-weight: bold;

	.container {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}

	.head {
		height: 10%;
	}

	.body {
		height: 80%;
	}

	.bottom {
		height: 10%;
	}

	h1 {
		font-size: 6px;
		color: #fff;
	}
}
